#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EnumList(
        config: (
        ),
        enum_elements: [
            EnumElement(
                inner: Enum(
                    name: "UserRole",
                    variants: [
                        EnumVariant(
                            name: "Superadmin",
                            value: 1,
                            description: "Superadmin can do literally everything. Very dangerous role.",
                        ),
                        EnumVariant(
                            name: "Support",
                            value: 2,
                            description: "Support can view and manage some staff.",
                        ),
                        EnumVariant(
                            name: "Viewer",
                            value: 3,
                            description: "Viewer can only view some data.",
                        ),
                        EnumVariant(
                            name: "Regular",
                            value: 4,
                            description: "Regular users with standard permissions.",
                        ),
                    ],
                ),
            ),
        ],
    ),
)
