#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        service_name: "test_service",
        service_id: 1,
        endpoints: [
            EndpointSchemaElement(
                schema: (
                    name: "TestEndpoint",
                    code: 10000,
                    parameters: [
                        Field(name: "test_input", ty: Int32),
                    ],
                    returns: [
                        Field(name: "test_output", ty: String),
                    ],
                    stream_response: None,
                    description: "A simple test endpoint",
                    json_schema: (),
                    roles: ["UserRole::Superadmin"],
                ),
            ),
        ],
    ),
)
